<section>
	<h1>Related Links</h1>
	<ul id="recent_posts">
      <li class="post">
            <a href="https://fanmingyi.blog.csdn.net/">不会写代码的丝丽</a>
      </li>
      <li class="post">
            <a href="http://wangkuiwu.github.io/">skywang</a>
            <a href="https://www.cnblogs.com/skywang12345/">-skywang</a>
            <a href="https://github.com/wangkuiwu/wangkuiwu.github.io">--skywang</a>
      </li>
      <li class="post">
            <a href="https://johnsonlee.io/">Johnson Lee</a>
      </li>
      <li class="post">
            <a href="https://www.pdai.tech/">Java 全栈知识体系</a>
      </li>
      <li class="post">
            <a href="https://www.jianshu.com/u/7f26e9b13731">Stan_Z大佬</a>
      </li>
      <li class="post">
            <a href="https://juejin.cn/user/4318537403878167">jsonchao大佬</a>
      </li>
      <li class="post">
      	<a href="https://www.jianshu.com/u/ce54e5c21032">LoopJing</a>
      </li>
      <li class="post">
      	<a href="https://www.jianshu.com/u/79087863dce7">FeelsChaotic</a>
      </li>
      <li class="post">
      	<a href="http://droidyue.com/">技术小黑屋</a>
      </li>
      <li class="post">
      	<a href="http://www.inferjay.com/">脉脉不得语</a>
      </li>
      <li class="post">
      	<a href="https://blog.cnbang.net/">bang's blog iOS开发者</a>
      </li>
      <li class="post">
            <a href="https://blog.dreamtobe.cn/archives/">流利说Android-Jacks Blog</a>
      </li>
      <li class="post">
            <a href="http://blog.csdn.net/lmj623565791">鸿洋</a>
      </li>
      <li class="post">
            <a href="http://www.520monkey.com/">尼古拉斯 赵四</a>
      </li>     
      <li class="post">
            <a href="http://liuwangshu.cn/">刘望舒的技术博客</a>
      </li>
      <li class="post">
            <a href="http://p.codekk.com/">codeKK</a>
      </li>
      <li class="post">
            <a href="https://juejin.im/timeline">稀土掘金</a>
      </li>
      <li class="post">
            <a href="https://developer.android.com/">Android 官网</a>
      </li>
      <li class="post">
            <a href="https://medium.com/google-developers">Google Developers Medium</a>
      </li>
      <li class="post">
            <a href="http://www.wanandroid.com/">WAN ANDROID</a>
      </li>
      <li class="post">
            <a href="https://blog.piasy.com/">Piasy</a>
      </li>
      <li class="post">
            <a href="http://gityuan.com/">Gityuan</a>
      </li>
      <li class="post">
            <a href="https://www.nowcoder.com/">NowCoder</a>
      </li>
      <li class="post">
            <a href="https://github.com/wasabeef/awesome-android-ui">awesome-android-ui</a>
      </li>
      <li class="post">
            <a href="https://github.com/opendigg/awesome-github-android-ui">awesome-android-ui-0</a>
      </li>
      <li class="post">
            <a href="https://casatwy.com/">Casatwy iOS</a>
      </li>
      <li class="post">
            <a href="https://zhuanlan.zhihu.com/taowen">陶文 涉及软件架构相关</a>
      </li>
      <li class="post">
            <a href="http://wiki.wuyijun.cn/pages/viewpage.action?pageId=360470">阿拉丁和灯的知识库 后端和架构设计</a>
      </li>
      <li class="post">
            <a href="https://juejin.im/user/59759784f265da6c2b76c24b">wier 涉及并发编程等后端技术</a>
      </li>
      <li class="post">
            <a href="https://www.jianshu.com/u/90ab66c248e6">占小狼 涉及Java后端技术</a>
      </li>
      <li class="post">
            <a href="https://blog.csdn.net/XieYupeng520">阿曌 - A female developer</a>
      </li>
      <li class="post">
            <a href="http://weishu.me/">田维术</a>
      </li>
      <li class="post">
            <a href="https://github.com/guoxiaoxing">郭孝星</a>
      </li>
      <li class="post">
            <a href="https://github.com/guoxiaoxing/android-open-source-project-analysis">android open source project analysis</a>
      </li>
      <li class="post">
            <a href="https://www.jianshu.com/u/45661204c0d6">简书 何时夕</a>
      </li>
      <li class="post">
            <a href="https://www.v2ex.com/">v2ex</a>
      </li>
      <li class="post">
            <a href="https://fucknmb.com/">区长</a>
      </li>
      <li class="post">
            <a href="https://kymjs.com/">张涛 开源实验室</a>
      </li>
      <li class="post">
            <a href="https://blog.csdn.net/carson_ho">Carson_Ho Android知识总结</a>
      </li>
      <li class="post">
            <a href="https://blog.csdn.net/innost">邓凡平 阿拉神农</a>
      </li>
      <li class="post">
            <a href="https://github.com/stanzhai/be-a-professional-programmer">be a professional programmer</a>
      </li>
    </ul>
</section>
