<section>
	<h1>Related Links</h1>
	<ul id="recent_posts">
      <li class="post">
      	<a href="http://droidyue.com/">技术小黑屋</a>
      </li>
      <li class="post">
      	<a href="http://www.inferjay.com/">脉脉不得语</a>
      </li>
      <li class="post">
      	<a href="http://www.vmatianyu.cn/">Liter's Blog</a>
      </li>
      <li class="post">
      	<a href="http://blog.talisk.cn/">talisk斯温的技术博客</a>
      </li>
      <li class="post">
            <a href="https://blog.dreamtobe.cn/archives/">流利说Android-Jacks Blog</a>
      </li>
      <li class="post">
            <a href="http://blog.csdn.net/lmj623565791">鸿洋</a>
      </li>
      <li class="post">
            <a href="http://www.520monkey.com/">尼古拉斯 赵四</a>
      </li>     
      <li class="post">
            <a href="http://liuwangshu.cn/">刘望舒的技术博客</a>
      </li>
      <li class="post">
            <a href="http://p.codekk.com/">codeKK</a>
      </li>
      <li class="post">
            <a href="https://juejin.im/timeline">掘金</a>
      </li>
      <li class="post">
            <a href="https://developer.android.com/">Android 官网</a>
      </li>
      <li class="post">
            <a href="https://medium.com/google-developers">Google Developers Medium</a>
      </li>
      <li class="post">
            <a href="http://www.wanandroid.com/">WAN ANDROID</a>
      </li>
      <li class="post">
            <a href="https://blog.piasy.com/">Piasy</a>
      </li>
      <li class="post">
            <a href="http://gityuan.com/">Gityuan</a>
      </li>
    </ul>
</section>
